@use "styles/variables" as *;
@use "styles/mixins" as *;

.container {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: grab;
    canvas {
        width: 100% !important;
        height: 100% !important;
    }
    div:not(:first-child) {
        position: static !important;
        transform: none !important;
    }
    &.transform {
        cursor: grabbing;
    }
}
