:root {
    --primary-text: #181b2f;
    --secondary-text: #8798ab;
    --additional-text: #181b2f;
    --primary-bg: #eff1f8;
    --secondary-bg: #ffffff;
    --control-primary-bg: #eff1f8;
    --control-primary-text: #181b2f;
    --control-primary-border-color: #e6e9f1;
    --control-primary-border-color-hover: #8798ab;
    --control-primary-border: #123;
    --control-primary-border-radius: 12px;
    --control-smaller-border-radius: 4px;
    --error: #f09;
    --success: #57c05c;
    --icon: #8798ab;
    --label-text: #00000080;
    --link: #1b67f7;
    --primary-icon: #1b67f7;
    --shadow-dropdown: 0px 33px 138px rgba(0, 0, 0, 0.05), 0px 15px 64px rgba(0, 0, 0, 0.04),
        0px 9px 36px rgba(0, 0, 0, 0.04), 0px 5px 23px rgba(0, 0, 0, 0.03), 0px 4px 14px rgba(0, 0, 0, 0.03),
        0px 2px 8px rgba(0, 0, 0, 0.02), 0px 1px 4px rgba(0, 0, 0, 0.01);

    --primary-text-new: #404040;
}

body.dark {
    --primary-text: #eff1f8;
    --secondary-text: #8798ab;
    --additional-text: #6c7275;
    --primary-bg: #141718;
    --secondary-bg: #232627;
    --control-primary-bg: #1f2425;
    --control-primary-text: #eff1f8;
    --control-primary-border-color: #1f2425;
    --control-primary-border-color-hover: #6c7275;
    --error: #f09;
    --success: #57c05c;
    --icon: #8798ab;
    --label-text: #8798ab;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply m-0 bg-primary-bg font-montserrat tracking-tight antialiased transition-colors;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold -tracking-[0.3px];
}

* {
    @apply font-montserrat -tracking-[0.3px] transition-colors;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .scrollbar-hidden {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* transition-resize-block */
    .transition-resize-block-enter {
        opacity: 0;
        grid-template-rows: 0fr;
    }

    .transition-resize-block-enter-active {
        opacity: 1;
        grid-template-rows: 1fr;
    }

    .transition-resize-block-exit {
        opacity: 1;
        grid-template-rows: 1fr;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }

    .transition-resize-block-exit-active {
        opacity: 0;
        grid-template-rows: 0fr;
        -webkit-filter: blur(10px);
        filter: blur(20px);
    }

    .transition-resize-block-exit-active {
        display: grid;
        transition:
            opacity 250ms ease,
            transform 300ms,
            grid-template-rows 300ms ease,
            filter 300ms ease;
    }

    .transition-resize-block-enter-active {
        display: grid;
        transition:
            opacity 250ms ease,
            transform 300ms,
            grid-template-rows 300ms ease,
            filter 300ms ease;
    }

    .transition-resize-block-enter-active > *,
    .transition-resize-block-exit-active > * {
        overflow: hidden;
        padding: 0;
        margin: 0;
    }

    /* transition-toast */
    .transition-toast-enter {
        opacity: 0;
        grid-template-rows: 0fr;
    }

    .transition-toast-enter-active {
        opacity: 1;
        grid-template-rows: 1fr;
    }

    .transition-toast-exit {
        opacity: 1;
        grid-template-rows: 1fr;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }

    .transition-toast-exit-active {
        opacity: 0;
        grid-template-rows: 0fr;
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }

    .transition-toast-exit-active {
        display: grid;
        transition:
            opacity 500ms ease,
            transform 250ms,
            grid-template-rows 250ms ease,
            filter 250ms ease;
    }

    .transition-toast-enter-active {
        display: grid;
        transition:
            opacity 500ms ease,
            transform 250ms,
            grid-template-rows 250ms ease,
            filter 250ms ease;
    }

    .transition-toast-enter-active > *,
    .transition-toast-exit-active > * {
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
}

img,
video {
    max-width: none;
}
