@use "styles/variables" as *;

.header {
    position: relative;
    z-index: 0;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    color: inherit;

    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
}
.card {
    background: #f8f8fe;
    border-radius: 18px;
    color: $graphite900;
    box-shadow:
        0px 15px 80px rgba(0, 0, 0, 0.04),
        0px 1.87823px 10.0172px rgba(0, 0, 0, 0.02);
    height: fit-content;

    &[data-theme="dark"] {
        background: $panel1;
        color: $white900;
    }

    &.page {
        & > header {
            padding: 24px;
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;

            font-size: 18px;
            font-family: Montserrat;
            font-weight: 700;
        }
        & > div {
            padding: 24px 32px 40px;
        }
    }
}
